@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: rgba(0, 0, 0, 0.94);
    /* overflow: hidden; */ /* Hiding scrollbar for whole page */
}

html {
    scroll-behavior: smooth; /* Enabling smooth scrolling globally */
    --line-color: #805d39;
}
