body {
    font-color: #fff;
    background: rgba(0, 0, 0, 0.94);
    /* overflow: hidden; */ /** Hiding scrollbar for whole page */
    margin: 0; /** Removing Initial Formatting */
    padding: 0; /** Removing Initial Formatting */
}

html {
    min-height: 100%; /** Preventing background colour to duplicate */
}
