body {
    font-color: #fff;
    background: linear-gradient(147deg, #222 15%, #000000 90%);
    overflow: hidden; /** Hiding scrollbar for whole page */
    margin: 0; /** Removing Initial Formatting */
    padding: 0; /** Removing Initial Formatting */
}

html {
    min-height: 100%; /** Preventing background colour to duplicate */
}
