.title {
    margin-right: auto;
    margin-left: 5dvw;
    text-decoration: none;
    color: white;
    font-size: clamp(2rem, 1rem + 2dvw, 7rem); /** Setting (min, step, max) font size while changing screen resolution */
}

.dot {
    position: absolute;
    color: #e68e2e;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-decoration: none;
    z-index: 999;
    width: 100%;
    background: rgba(0, 0, 0, 0.44);
    position: fixed; /* Making navigation bar to stay top even if user scrolls */
    top: 0;
    backdrop-filter: blur(0.1px); /* Making items under navigation bar visible */
}

.header {
    position: relative;
    z-index: 999;
}

.li {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 75%;
}

.underline {
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    color: #999;
    margin-left: 1dvw;
    margin-right: 1dvw;
    font-size: clamp(1rem, 1rem + 0.5dvw, 3rem);
    cursor: pointer;
    position: relative;
}

.underline:hover {
    color: rgba(50, 255, 255, 0.1);
    transition: 0.3s;
}

.underline::before,
.underline::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: rgba(159, 137, 94, 0.8);
    transition: width 0.3s ease-in-out;
}

.underline::before {
    left: 50%;
    transform: translateX(-50%);
}

.underline::after {
    right: 50%;
    transform: translateX(50%);
}

.underline:hover::before,
.underline:hover::after {
    width: 100%;
}

.underline span {
    position: relative;
    padding: 0.2vh 0.8dvw;
}
