.header {
    position: relative;
    z-index: 999;
}

.title {
    display: flex;
    margin-right: auto;
    margin-left: 5dvw;
    text-decoration: none;
    color: white;
    font-size: clamp(2rem, 1rem + 2dvw, 7rem); /** Setting (min, step, max) font size while changing screen resolution */
    height: 100%;
    align-items: center;

    @media (max-width: 500px) {
        display: none;
    }
}

.dot {
    color: #e68e2e;
}

.motion {
    position: fixed; /* Making navigation bar to stay top even if user scrolls */
    top: 0;
    height: 3.5rem; /* Height of navigation bar */
    width: 100%;
    background: rgba(0, 0, 0, 0.44);
    backdrop-filter: blur(0.1px); /* Making items under navigation bar visible */

    @media (max-width: 500px) {
        height: 5rem;
        width: 100%;
    }
}

.nav {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 100%;

    @media (max-width: 500px) {
        flex-wrap: wrap;
        justify-content: center;
        gap: 1.25rem;
        row-gap: 0;
    }
}

.li {
    display: flex;
}

.underline {
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    color: #999;
    margin-left: 1dvw;
    margin-right: 1dvw;
    font-size: clamp(1rem, 1rem + 0.5dvw, 3rem);
    cursor: pointer;
    position: relative;
}

.underline:hover {
    color: #805d39;
    transition: 0.3s;
}

.underline::before,
.underline::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: rgba(159, 137, 94, 0.8);
    transition: width 0.3s ease-in-out;
}

.underline::before {
    left: 50%;
    transform: translateX(-50%);
}

.underline::after {
    right: 50%;
    transform: translateX(50%);
}

.underline:hover::before,
.underline:hover::after {
    width: 100%;
}

.underline span {
    position: relative;
    padding: 0.2vh 0.8dvw;
}
