.section {
    max-width: 45rem; /* Setting intro container to be smaller than header */
    margin: 0 auto; /* Horizontally center an element within its parent container */
}

.position {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    top: 15dvh;
}

.image {
    object-fit: cover;
    border-radius: 9999px;
    border-color: #ffffff;
    width: 6rem;
    height: 6rem;
    border-color: 0.35;
}

.text {
    color: white;
    font-weight: 600;
    font-size: clamp(1rem, 1rem + 0.5dvw, 3rem);
    text-align: center;
}
