.section {
    max-width: 45rem; /* Setting intro container to be smaller than header */
    margin: 0 auto; /* Horizontally center an element within its parent container */
}

.position {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}

.image {
    object-fit: cover;
    border-radius: 9999px;
    border-color: #ffffff;
    width: 6rem;
    height: 6rem;
    border-color: 0.35;
}

.text {
    color: rgba(203, 207, 204, 1);
    font-size: clamp(1rem, 1rem + 0.5dvw, 3rem);
    text-align: center;
}

.links {
    gap: 1rem;
    margin-bottom: 0;

    @media (max-width: 580px) {
        flex-direction: column;
    }
}

.button {
    display: flex;
    align-items: center;
    color: #999;
    text-decoration: none;
    background: rgba(0, 0, 0, 0.44);
    border-radius: 9999px;
    gap: 0.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    transition: transform 0.3s cubic-bezier(0.4, 2.1, 0.7, 1);
    transition-duration: 150ms;
}

.button:hover {
    color: #805d39;
    font-weight: 600;
    background-color: rgba(27, 29, 23, 0.8);
    transform: scale(1.1);
}

.button:active {
    transform: scale(1.05);
}

.sbutton {
    padding-left: 1.15rem;
    padding-right: 1.15rem;
    padding-top: 1.15rem;
    padding-bottom: 1.15rem;
}

.sbutton:hover {
    transform: scale(1.2);
}

.sbutton:active {
    transform: scale(1.1);
}

/* Below is saying that on whole button hover we target arrow to do below */
.button:hover .arrow {
    transform: translateX(0.3rem);
    transition: transform 0.3s ease;
}

/* Slowing down animation on stop hovering */
.button .arrow {
    opacity: 0.7;
    transition: transform 0.3s ease, opacity 0.3s ease; /* Add opacity transition */
}

.button:hover .icon {
    transform: translateY(0.2rem);
    transition: transform 0.3s ease;
}

/* Slowing down animation on stop hovering */
.button .icon {
    opacity: 0.7;
    transition: transform 0.3s ease, opacity 0.3s ease; /* Add opacity transition */
}
