.div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.secDiv {
    position: relative;
    top: 15vh;
}

.image {
    object-fit: cover;
    border-radius: 9999px;
    border-color: #ffffff;
    width: 6rem;
    height: 6rem;
    border-color: 0.35;
}
