.position {
    display: flex;
    position: relative;
    justify-content: center;
}

.format {
    display: block;
    background: rgba(0, 0, 0, 0.55);
    margin-top: 6rem;
    margin-bottom: 6rem;
    height: 4rem;
    width: 0.25rem;
    border-radius: 9999px;

    @media (max-width: 640px) {
        display: none;
    }
}
