.section {
    scroll-margin-top: 6rem; /* Ensure "Section Title" is below header */
    margin-top: 2rem;

    @media (max-width: 680px) {
        margin-top: 3rem;
    }
}

.containerPos {
    display: flex;
    justify-content: center;
}

.li {
    display: flex;
}

.skillsContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 50%;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    text-align: center;

    width: 5rem;
    height: 5rem;
    margin: 1rem;
    margin-bottom: 0.5rem;
}

/* .box:hover {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.9);
} */

.box img {
    margin-bottom: -0.7rem;
}

.box h4 {
    color: white;
    font-size: 13px;
    margin-top: 1rem;
}
